<div ng-controller="CreateController as $ctrl">
    <div class="crumbs">
        <ul>
            <li>
                <a ui-sref="home" class="active">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>

            <li>
                <a class="active" ng-click="$ctrl.setStateUploadYouImage()">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    Upload your image
                </a>
            </li>

            <li>
                <a ng-class="{'active': $ctrl.checkStateInsertTextIsActive()}" ng-click="$ctrl.setStateInsertYourText()">
                    <i class="fa fa-text-width" aria-hidden="true"></i>
                    Update your text
                </a>
            </li>
            <li>
                <a ng-class="{'active': $ctrl.checkStateExportIsActive()}" ng-click="$ctrl.setStateExport()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    Export to PDF
                </a>
            </li>

        </ul>
    </div>

    <div ng-if="$ctrl.stateActive == 'upload-image'" class="upload-image">
        <div class="FlierGallery">
            <img ng-repeat="imageSrc in $ctrl.images" src="{{imageSrc}}" ng-click="$ctrl.setStateInsertYourText(imageSrc)">
        </div>

    </div>

    <div ng-show="$ctrl.stateActive == 'insert-text'" class="add-your-text">
        <div class="canvas" id="canvas">
            <img src="{{$ctrl.backgroundImageFlier}}" >
            <gt-editor
                    posx="93"
                    posy="344"
                    text-for-init="[  {   'text':'Join the Israel JCC for a special Yom Ha\'atzmaut',},  {    'text':'br'  },  {    'text':'screening of'  },  {    'text':'Mekonen: the Journey of an African Jew:',    'italic':true,   'bold':true}]"></gt-editor>

            <img ng-src="" id="imageByHtml">
        </div>

        <button ng-click="$ctrl.genPDF()">export</button>
    </div>

    <div ng-if="$ctrl.stateActive == 'export'"  class="export">

    </div>

</div>