<div class="FlayerLogo">
    <img src="/assets/svgs/JUFlyerBuilderLogo.svg">
</div>

<div ng-controller="CreateController as $ctrl">
    <div class="crumbs">
        <ul>
            <li>
                <a ui-sref="home" class="active">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>

            <li>
                <a class="active" ng-click="$ctrl.setStateUploadYouImage()">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    Pick Flyer Template
                </a>
            </li>

            <li>
                <a ng-class="{'active': $ctrl.checkStateInsertTextIsActive()}" ng-click="$ctrl.setStateInsertYourText()">
                    <i class="fa fa-text-width" aria-hidden="true"></i>
                    Customize Flyer
                </a>
            </li>
            <li>
                <a ng-class="{'active': $ctrl.checkStateExportIsActive()}" ng-click="$ctrl.setStateExport()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    Review and Save
                </a>
            </li>

        </ul>
    </div>

    <div ng-if="$ctrl.stateActive == 'upload-image'" class="upload-image">

        <h1>Choose your flyer template from the list of films and designs </h1>

        <div class="FlierGallery">
            <div class="item" ng-repeat="tamplate in $ctrl.templates" ng-click="$ctrl.setStateInsertYourText(tamplate)">
                <img  ng-src="{{::tamplate.imageSrc}}" >
                <div class="title">{{::tamplate.title}}</div>
            </div>
        </div>

    </div>

    <div ng-if="$ctrl.stateActive == 'insert-text'" class="AddYourText">

        <h1>Click on the text to edit and customize, when you'r done click on "Review and Save"</h1>

        <div class="FlierPreview">
            <div class="Canvas" id="canvas">
                <img ng-if="$ctrl.currentTemplate.imageSrc" ng-src="{{$ctrl.currentTemplate.imageSrc}}" >

                <gt-editor ng-repeat="editor in $ctrl.currentTemplate.editors"
                           posx="editor.posx"
                           posy="editor.posy"
                           text="editor"
                           editor-width="editor.width"
                           editor-height="editor.height">
                </gt-editor>

            </div>
        </div>

        <!--<div class="Sidebar">-->
<!---->
            <!--<h2>Your options</h2>-->
<!---->
            <!--<div class="UploadImage">-->
                 <!--<i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload your logo-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <div ng-if="$ctrl.stateActive == 'export'"  class="Export">

        <p>Here is a preview of your Flyer. You can either click to <span class="bold">Edit</span> it or choose to <span class="bold">Save</span> or <span class="bold">Print</span> your file.  </p>

        <div class="Actions">
            <div class="Preview" ng-click="$ctrl.setStateInsertYourText()">
                <img ng-if="$ctrl.flierDataUrl" ng-src="{{$ctrl.flierDataUrl}}">
                <div class="edit">
                    <div class="table">
                        <div class="cell">
                            <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                        </div>
                    </div>
                </div>
            </div>

            <a ng-href="{{$ctrl.flierDataUrl}}" id="save-file" download="{{$ctrl.getFlayerFileName()}}.jpg" class=" Button u-Radios-width5 Button--orange-primary Button--secondary"  >
                <i class="fa fa-floppy-o" aria-hidden="true" ></i>
                <span>Save</span>
            </a>

            <button ng-click="$ctrl.print()"  class=" Button u-Radios-width5 Button--orange-primary Button--secondary"  >
                <i class="fa fa-print" aria-hidden="true"></i>
                <span>Print</span>
            </button>
        </div>

    </div>

</div>