<div ng-controller="CreateController as $ctrl">
    <div class="crumbs">
        <ul>
            <li>
                <a ui-sref="home" class="active">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>

            <li>
                <a class="active" ng-click="$ctrl.setStateUploadYouImage()">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    Upload your image
                </a>
            </li>

            <li>
                <a ng-class="{'active': $ctrl.checkStateInsertTextIsActive()}" ng-click="$ctrl.setStateInsertYourText()">
                    <i class="fa fa-text-width" aria-hidden="true"></i>
                    Update your text
                </a>
            </li>
            <li>
                <a ng-class="{'active': $ctrl.checkStateExportIsActive()}" ng-click="$ctrl.setStateExport()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    Export to PDF
                </a>
            </li>

        </ul>
    </div>

    <div ng-if="$ctrl.stateActive == 'upload-image'" class="upload-image">
        <div class="FlierGallery">
            <img ng-repeat="tamplate in $ctrl.templates" ng-src="{{tamplate.imageSrc}}" ng-click="$ctrl.setStateInsertYourText(tamplate)">
        </div>

    </div>

    <div ng-show="$ctrl.stateActive == 'insert-text'" class="AddYourText">
        <div class="FlierPreview">

            <h2>Build your flier</h2>

            <div class="Canvas" id="canvas">
                <img ng-src="{{$ctrl.currentTemplate.imageSrc}}" >

                <gt-editor ng-repeat="editor in $ctrl.currentTemplate.editors"
                           posx="editor.posx"
                           posy="editor.posy"
                           text="editor.text"
                           editor-width="editor.width"
                           editor-height="editor.height">
                </gt-editor>

            </div>
        </div>

        <div class="Sidebar">

            <h2>Your options</h2>

            <div class="UploadImage">
                 <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload your logo
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.stateActive == 'export'"  class="Export">

        <button type="button">
            <a ng-href="{{$ctrl.flierDataUrl}}" id="save-file" download="flier.jpg"><i class="fa fa-floppy-o" aria-hidden="true" ></i> Save your flier</a>
        </button>


        <button type="button" ng-click="$ctrl.print()">
            <i class="fa fa-print" aria-hidden="true"></i> Print your flier
        </button>

    </div>

</div>