<div class="help">

    <div class="inner">
        <div class="email-address-for-assistance">
            <div class="inner">
                <div class="bold">Need Help? Want some assistance? </div>
                <div>Contact: techteam@jerusalemu.org</div>
            </div>
        </div>

        <div class="icon">
            <div class="table">
                <div class="cell">
                    <i class="fa fa-question" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="icon-desc">
            Need Help?
        </div>
    </div>


</div>