@import "breadcrumbs";



.FlierGallery{
  img{
    float:left;
    max-width:250px;
    margin: 20px;
    border:3px solid transparent;
    &:hover{
      border-color: #4a4a4a;
      cursor: pointer;
    }
  }
}

.AddYourText{
  max-width:80%;
  margin:0 auto;
}


.FlierPreview {
  float:left;

  h2{
    text-align: center;
  }

  .Canvas {
    position: relative;
  }
}

.Sidebar{
  float:right;

  .UploadImage{
    border: dashed 1px #c7c7c7;
    padding: 20px 40px;
  }
}

.Export{
  button{
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background: #1486cc;
    border: none;
    color:white;

    a{
      color:white
    }
  }
}
