.bold{font-weight: bold;}
.underscore{text-decoration: underline;}
.italic{font-style: italic;}

[contenteditable="true"]{outline: none;}

.GtTextEditor{
  display: inline-block;
  border:1px solid transparent;

  p{
    margin:0;
  }

  &.active{
    .ToolBar{
      opacity:1;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    border-color:#F0F0F0;

    .content{
      resize: both;
      width:100%;
      overflow: auto;
      display: block;
      min-width: 200px;
      min-height: 50px;
    }
  }

  .ToolBar{
    background-color: #F0F0F0;
    padding: 10px;
    margin-left: 0px;
    border: 1px solid #EEE;
    opacity:0;
    overflow: hidden;

    .ButtonGroup{
      overflow: hidden;
      float: left;
      margin-right:5px;

      &:first-child,&:last-child{
        margin:0;
      }

      .gt-toolbar-selection:first-child {

        ul {
          li:first-child {
            .Button{
              border-top-left-radius:3px;
              border-bottom-left-radius:3px;
            }
          }
        }
      }

      .gt-toolbar-selection {
        display: block;
        float: left;

        ul{
          padding: 0;
          margin:0;
          overflow: hidden;

          li{
            display: block;
            float:left;
          }
        }
      }

      .gt-toolbar-selection:last-child {

        ul {
          li:last-child {
            .Button{
              border-right-width: 1px;
              border-top-right-radius:3px;
              border-bottom-right-radius:3px;
            }
          }
        }
      }

      .Button{
        text-transform: capitalize;
        outline:none;
        border:1px solid #adadad;
        border-right-width: 0;
        color: #333;
        background-color: #fff;
        float:left;
        padding: 3px 6px;
        cursor:pointer;
        font-size:16px;
        width:30px;

        &:hover{
          background-color: #ebebeb;
          border-color: #adadad;
        }
        &.active{
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.23);
        }
      }
    }
  }
}