body{font-family: "Roboto";}

.bold{font-weight: bold;}
.underscore{text-decoration: underline;}
.italic{font-style: italic;}

[contenteditable="true"]{outline: none;}
.input .content{
  overflow: auto;
  display: inline-block;
  min-width: 200px;
  min-height: 150px;
}

.GtTextEditor{
  display: inline-block;
  border:1px solid transparent;

  &.active{
    .ToolBar{
      opacity:1;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    border-color:#F0F0F0;

    .content{
      resize: both;
    }
  }

  .ToolBar{
    background-color: #F0F0F0;
    padding: 10px 10px 7px;
    margin-left: 0px;
    border: 1px solid #EEE;
    opacity:0;

    .ButtonGroup{
      overflow: hidden;

      .Button{
        text-transform: capitalize;
        outline:none;
        border:1px solid #adadad;
        border-right-width: 0;
        color: #333;
        background-color: #fff;
        float:left;
        padding: 3px 6px;
        cursor:pointer;

        &:first-child{
          border-top-left-radius:3px;
          border-bottom-left-radius:3px;
        }
        &:last-child{
          border-right-width: 1px;
          border-top-right-radius:3px;
          border-bottom-right-radius:3px;
        }

        &:hover{
          background-color: #ebebeb;
          border-color: #adadad;
        }
        &.active{
          box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
        }
      }
    }
  }
}


