<div id="GtTextEditor" class="GtTextEditor active">
    <div class="input" >
        <div class="ToolBar">
            <div class="ButtonGroup">
                <button class="Button" type="button"
                        ng-class="{'active':gtTextEditor.isBold}"
                        ng-click="gtTextEditor.toggleBold()">
                    b
                </button>

                <button class="Button"
                        type="button"
                        ng-class="{'active':gtTextEditor.isUnderscore}"
                        ng-click="gtTextEditor.toggleUnderscore()">
                    u
                </button>

                <button class="Button"
                        type="button"
                        ng-class="{'active':gtTextEditor.isItalic}"
                        ng-click="gtTextEditor.toggleItalic()">
                    i
                </button>
            </div>
        </div>

        <div class="content" id="content" contenteditable="true" ></div>


    </div>
</div>